
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <title>Infirmary</title>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <div class="container-fluid ps-md-0">
            <div class="row">
                <div class="col-6">
                    <div class="img-fluid">
                        <img src="image/register.png" class="img-fluid vh-100" alt="login_image">
                    </div>
                </div>
                <div class="d-flex  justify-content-center align-items-center  col-md-5">
                    <form action="register" method="post">
                        <div>
                            <h1 class="display-3">Register Panel</h1>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control" id="floatingName" placeholder="Name" name="firstName">
                            <label for="floatingName">First Name</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control" id="floatingLastName" placeholder="Last Name" name="lastName">
                            <label for="floatingLastName">Last Name</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="email" class="form-control" id="floatingEmail" placeholder="email@gmail.com" name="email">
                            <label for="floatingEmail">Email</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control" id="floatingInput" placeholder="123456789" name="pesel">
                            <label for="floatingInput">Pesel</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="repeatedPassword">
                            <label for="floatingPassword">Repeat Password</label>
                        </div>
                        <div class="form-floating mb-4">
                            <textarea class="form-control" id="floatingAreaExample" rows="4" placeholder="Input notes about your self" name="note"></textarea>
                            <label for="floatingAreaExample">Input notes about your self</label>
                        </div>
                            <input type="submit" class="w-100 btn btn-lg btn-primary"  value="Register">
                            <a href="login">Login instead</a>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>