/* TODO: it should be refactored to boostraps columns */
.visits {
    padding: 0;
}

.visits table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.visits td {
    border: 0px;
    text-align: left;
    padding: 8px;
}

.visit-info .padding {
    padding-left:180px;
}

.visits tr:nth-child(odd) {
    background-color: #dddddd;
}

textarea {
    overflow-y: auto;
}

textarea:read-only,
textarea:read-only:focus {
    background-color: #dddddd;
    outline: 1px solid black;
}

.scroll {
    overflow: auto;
}

.inactive-cal-hour {
    background-color: #adb5bd;
}

.btn:hover.inactive-cal-hour {
    background-color: #adb5bd !important;
}

.scroller {
    position: fixed;
    right: 0;
    bottom: 0;
}