.menu-button {
    width: 75%;
}

.visits {
    padding: 0;
}

.visits table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.visits td {
    border: 0px;
    text-align: left;
    padding: 8px;
}

.visit-info .padding {
    padding-left:180px;
}

.visits tr:nth-child(odd) {
    background-color: #dddddd;
}

.ta {
    width: 60%
}